@use '../../../../styles/mixins' as *;

.bottomBanner {
  .section__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
  }

  &__container {
    background-color: var(--neutral-200);
    width: 100%;
    border-radius: 16px;
    min-height: 396px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      background-image: url('../../../../assets/images/pattern-knife.svg');
      position: absolute;
      height: 100%;
      width: 50%;
      right: -17%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      content: '';
      background-image: url('../../../../assets/images/pattern-fork.svg');
      position: absolute;
      height: 100%;
      width: 50%;
      left: -2%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    h2 {
      @include heading;
    }

    p {
      @include body;
    }

    button {
      @include button-styling;
    }
  }
}
