@use './variables' as vars;

/* Styling Mixins */

/* ---------------- Text Base ---------------- */

@mixin text-base($color, $font-size, $font-weight, $letter-spacing, $line-height) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

/* ---------------- Typography ---------------- */

@mixin heading(
  $color: var(--neutral-900),
  $font-size: var(--font-size-2),
  $font-weight: var(--font-extraBold),
  $letter-spacing: var(--letter-spacing-1),
  $line-height: var(--line-height-2)
) {
  @include text-base(
    $color: $color,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $letter-spacing: $letter-spacing,
    $line-height: $line-height
  );
}

@mixin subheading(
  $color: var(--neutral-900),
  $font-size: var(--font-size-4),
  $font-weight: var(--font-bold),
  $letter-spacing: var(--letter-spacing-2),
  $line-height: var(--line-height-3)
) {
  @include text-base(
    $color: $color,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $letter-spacing: $letter-spacing,
    $line-height: $line-height
  );
}

@mixin body(
  $color: var(--neutral-900),
  $font-size: var(--font-size-5),
  $font-weight: var(--font-medium),
  $letter-spacing: var(--letter-spacing-4),
  $line-height: var(--line-height-5)
) {
  @include text-base(
    $color: $color,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $letter-spacing: $letter-spacing,
    $line-height: $line-height
  );
}

@mixin caption(
  $color: var(--neutral-600),
  $font-size: var(--font-size-7),
  $font-weight: var(--font-medium),
  $letter-spacing: var(--letter-spacing-4),
  $line-height: var(--line-height-5)
) {
  @include text-base(
    $color: $color,
    $font-size: $font-size,
    $font-weight: $font-weight,
    $letter-spacing: $letter-spacing,
    $line-height: $line-height
  );
}

/* ---------------- Buttons ---------------- */

@mixin button-styling(
  $background-color: var(--neutral-900),
  $color: var(--neutral-000),
  $font-weight: var(--font-bold),
  $letter-spacing: var(--letter-spacing-5),
  $line-height: var(--line-height-4)
) {
  background-color: $background-color;
  color: $color;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  border-radius: var(--radius-10);
  padding: 0.7rem 1.5rem;
  font-size: var(--font-size-7);
  cursor: pointer;
}

/* ---------------- Responsiveness Mixins ---------------- */

@mixin for-desktop-down {
  @media (max-width: vars.$bp-desktop) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: vars.$bp-tablet) {
    @content;
  }
}

@mixin for-mobile-down {
  @media (max-width: vars.$bp-mobile) {
    @content;
  }
}
