:root {
  /* COLOR Pallete */
  --neutral-900: #163a34;
  --neutral-600: #395852;
  --neutral-300: #d0dcd9;
  --neutral-200: #e0e6e3;
  --neutral-100: #f6f5f1;
  --neutral-000: #ffffff;

  --orange-500: #fe9f6b;
  --teal-500: #49ac9b;
  --indigo-500: #697ddb;

  /* Font Sizes */
  --font-size-1: 72px;
  --font-size-1-mobile: 64px;
  --font-size-1-tablet: 52px;
  --font-size-2: 48px;
  --font-size-2-mobile: 40px;
  --font-size-3: 32px;
  --font-size-4: 24px;
  --font-size-5: 20px;
  --font-size-6: 18px;
  --font-size-7: 16px;
  --font-size-8: 16px;
  --font-size-9: 14px;

  /* Font Weights */
  --font-medium: medium;
  --font-bold: medium;
  --font-semiBold: medium;
  --font-extraBold: medium;
  --font-medium: medium;

  /* Line Height */
  --line-height-1: 1.1;
  --line-height-1: 1.2;
  --line-height-1: 1.3;
  --line-height-1: 1.4;
  --line-height-1: 1.5;

  /* Letter Spacing */
  --letter-spacing-1: -2px;
  --letter-spacing-2: -1px;
  --letter-spacing-3: -0.5px;
  --letter-spacing-4: -0.4px;
  --letter-spacing-5: -0.3px;

  /* Spacing */
  --spacing-000: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* Radii */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

/* SCSS VARIABLES  */
/* Breakpoints */
$bp-mobile: 40.625em; // 600px
$bp-tablet: 56.25em; // 900px
$bp-desktop: 75em; // 1200px
