@use "./mixins.scss" as *;
/* GLOBAL RESETS AND STYLING */

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: url(../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
  line-height: var(--line-height-primary);
  background-color: var(--neutral-000);
}
