@use '../../../styles/mixins' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  color: white;
  border-bottom: 2px solid var(--neutral-200);
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--neutral-900);
  font-weight: bold;
}

.nav-links a:hover {
  opacity: 0.8;
}

.active {
  border-bottom: 2px solid var(--orange-500);
}

button {
  padding: 0.7rem 1.5rem;
  border-radius: var(--radius-10);
  background-color: var(--neutral-600);
  cursor: pointer;
  border: none;
  color: var(--neutral-000);

  @include button-styling();
}
