<div class="card">
  <img src="{{ recipe.image.large }}" alt="" />
  <h3>{{ recipe.title }}</h3>
  <!-- <ul class="card__tags">
    @for (item of recipe.dishTypes | slice: 0 : 5; track $index) {
      <li>{{ item }}</li>
    }
  </ul> -->
  <p>{{ recipe.overview }}</p>
  <ul class="recipe-info">
    <li><img src="assets/images/icon-servings.svg" alt="" />Servings: {{ recipe.servings }}</li>
    <li><img src="assets/images/icon-prep-time.svg" alt="" />Prep: {{ recipe.prepMinutes }} min</li>
    <li><img src="assets/images/icon-cook-time.svg" alt="" />Cook: {{ recipe.cookMinutes }} min</li>
  </ul>
  <a class="card__btn" [routerLink]="['/recipes', recipe.slug]">View Recipe</a>
</div>
