<div class="card">
  <img src="../../../assets/images/avocado-tomato-wholegrain-toast-small.webp" alt="" />
  <h3>Avocado & Tomato Wholegrain Toast</h3>
  <p>Creamy avocado spread over toasted wholegrain bread, topped with juicy tomatoes.</p>
  <ul class="recipe-info">
    <li><img src="assets/images/icon-servings.svg" alt="" />Servings: 2</li>
    <li><img src="assets/images/icon-prep-time.svg" alt="" />Prep: 10 min</li>
    <li><img src="assets/images/icon-cook-time.svg" alt="" />Cook: 20 min</li>
  </ul>
  <button class="card__btn">View Recipe</button>
</div>
